@media (max-height: 300px){
    .carousel {
        width: auto;
        height: auto;
        margin: 5em;
    }
    }
    .carousel-caption {
        background: rgba(128,128,128, 0.5);
    }
    
    .col{
        background: white;
        border-radius: 2em;
        margin: 1em;
    }