@media (max-height: 300px){
    .carousel {
        width: 100%;
        height: auto;
        margin: 5rem;
        background-color: beige;
        margin: auto 0%;
        padding: 0rem;
    }

    .carousel img{
        left: 1%;
    }
    }
    .carousel-caption {
        background: rgba(128,128,128, 0.5);
        width: 90%;
    }
    
    .col{
        background: black;
        border-radius: 2rem;
        margin: 1rem;
    } 
    .w-100{
        width: auto !important;
    }

    .carouselTest{
        width:100%;
        margin: 0%;
    }

    .carousel-indicators{
        margin-right: 0%;
        margin-left: 0%;
    }

    .phishContainer{
        background-color: black;
        padding: 1rem;
    }

    .phishContainer img{
        width: 89%;
        height: 50%;
        margin-left: 6%;
        margin-top: 5%;
    }

    .cardBox{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }

    .card-body{
        /*display: flex;
        padding: 0.2rem;
        margin: 1rem;*/
        padding: 1.2rem;
    }

    .card{
        margin: 1rem;
    }