

section {
    width: 900px;
    height: 300px;
    background-image: linear-gradient(100deg, #f88b06 0%, #cee1e5 100%); 
    font-size: 20px;
    line-height: 45px;
    color: rgb(216, 210, 210);


}
h2{
    font-weight: 600dp;
    font-size: 30px;
    color: rgb(12, 12, 11);
}