
.Resources{
    flex-direction:column;
    text-align: center;
    color:black;
    display: flex;
    border: 3px solid black;
    width: 20%;
    margin-left: auto;
}

.Resources h2{
    font-weight: 600dp;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.Resources h3{
    font-weight: 600dp;
    font-size: 18px;
    color: rgb(12, 12, 11);
}
