*{
    box-sizing: content-box;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    width: 900px;
    height: 300px;
}
h2{
    font-weight: 600dp;
    font-size: 30px;
    color: rgb(12, 12, 11);
}