.Home{
    color:black;
    display: grid;
    justify-content: flex-start;
    border: 3px solid black;
    width: 95%;
    margin: 1%;
}

body{
    background-color: #2d3047;
}

h1, h2, h3, h4, p{
    text-align: center;
    color: white;
}

.resource-list{
    display: flex;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.resource-preview{
    border-radius: 8px;
    position: relative;
    padding: 10px 16px;
    margin: 10px auto;
    border: 1px solid #fafafa;
    max-width: 500px;

}

.resource-preview:hover{
    box-shadow: 0px 4px 8px 0px rgb(255, 255, 255);
    transition: 0.3s;
}

button{
    background-color: white;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    margin: 0px 150px;
    margin-bottom: 10px;

}