.navbar{
    display: flex;
    padding: 2rem 2rem;
    text-align: center;
    background-color: var(--color-bg);
}

.navbarlinks{
    display: flex;
    justify-content: center;
    background-color: var(--color-bg);
}
.navbarlinksLogo{
    letter-spacing: 5px;
    font-family: monospace;
}

.navbarlinkscontainer{
    flex-direction: row;
}
.navbarlinkscontainer p,
.navbarlinksmenucontainer p{
color: rgb(255, 255, 255);
font-size: var(--font-family);
font-weight: 500;
font-size: 18px;
line-height: 30px;
text-transform: capitalize;
margin: 0 1rem;
display: inline;
cursor: pointer;
}