.navbar{
    display: flex;
    padding: 2rem 2rem;
    text-align: center;
    background: white;
}

.web{
    width: 20%;
    position: absolute;
    left: 80%;
    top: 0%;
}

.navbarlinks{
    display: flex;
    justify-content: center;
    background: white;
}
.navbarlinksLogo{
    color: black;
    letter-spacing: 5px;
    font-family: monospace;
}
.navbarlinksLogo h1{
    color: black;
    width: 85%;
}

.navbarlinkscontainer{
    flex-direction: row;
    margin-right:14%;
}
.navbarlinkscontainer p,
.navbarlinksmenucontainer p{
    color: rgb(0, 0, 0);
    font-size: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    margin: 0 1rem;
    display: inline;
    cursor: pointer;
}

.kidsRef a{
   text-decoration: underline;
   text-decoration-thickness: 5px;
   text-decoration-color: var(--color-kid);
}
.adultsRef a{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: var(--color-adult);
 }

 .learningRef a{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: var(--color-learn);
 }
 .resourcesRef a{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: var(--color-resources);
 }