@media (max-height: 300px){
    .carousel {
        width: auto;
        height: auto;
        margin: 5em;
    }
 
    }
    .carousel-caption {
        background: rgba(128,128,128, 0.5);
    }
    
    .col{
        background: white;
        border-radius: 2rem;
        padding: 2rem;
        margin: 0.9rem;
    }
    